<header class="masthead">
  <nav class="language-nav">
    <ul>
      <li><a href="#">CSS</a></li>
      <li><a href='#'>HTML</a></li>
      <li><a href='#'>Javascript</a></li>
      <li><a href='#'>Ruby</a></li>
    </ul>
  </nav>

  <img class="logo" src="/assets/AA_Times_Logo.png" alt="AA Times Logo">


    <ul class="masthead-links">
      <li>Tuesday, October 18, 2016</li>

      <li>
        <button type="button" name="paper">
        <i class="fa fa-video-camera"></i>
        Today’s Paper</button>
      </li>
      <li>
        <button type="button" name="video">
        <i class="fa fa-newspaper-o"></i>
        Video</button>
      </li>
      <li>77°F</li>
      <li>AAO <strong> +100% </strong></li>
    </ul>
</header>
